#main-accueil {
    scroll-margin-top: 60px;
}

.background_img_container h1 {
    text-align: center;
    font-size: 8vh;
    margin-bottom: 0px;
}

.background_img_container h1 .highlight {
    color: var(--vert-fonce); 
    display: block; 
}

.background_img_container h2 {
    text-align: center;
    font-size: 6vh;
}

