
html {
    scroll-behavior: smooth;
}

.background_img_container {
    background-image: url("/assets/vitrine/img/background_pelouse.png");
    width: 100%;
    height: 90vh;               
    overflow: hidden;           
    background-size: cover;        
    background-position: center;   
    background-repeat: no-repeat;  
}

.button-container {
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 50vh;           
}


.btn-transparent {
    background-color: rgba(128, 128, 128, 0.5); 
    color: white;                               
    border: 2px solid gray;                               
    border-radius: 50px;                         
    padding: 100px 200px;                         
    font-size: 3rem;
    cursor: pointer;
}

.btn-transparent:hover {
    background-color: rgba(128, 128, 128, 0.8); 
}
