main {
    background-color: var(--bge);
    margin-inline: 2%;
    padding-inline: 5%;
    align-items: center;
    border: 2px solid black;
    border-radius: 16px;
}

h1 {
    text-align: center;
    color: white ;
    font-size: 30px;
    margin: 1em 30% 1em 30% ;
    padding-block: 1em;
    background-color: var(--vert-fonce);
    border-radius: 8px ;
}

.facture {
    background-color: var(--bg);
    border: 2px solid black ;
    border-radius: 6px ;
    margin: 20px ;
    padding-inline: 2%;
}

h2 {
    font-size: 24px ;
}

p {
    font-size: 16px ;
}
