.realisations {
    background-color: var(--bge);
    font-family: Arial, sans-serif;
    align-items: center;
    text-align: center;
    min-height: 90vh;
}

/*color: #367048;*/
.realisations h2 {
    color: #777;
    font-size: 1.5rem;
    display: block; 
    text-transform: uppercase;
    text-decoration: None;
    padding-top: 30px;
    margin: 0 0 40px 0; /*en haut, droite, bas, gauche*/
}

.realisations .highlight {
    color: #367048;
    font-weight: bold;
    font-size: 3rem;
    display: block; 
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container-realisation {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 2rem;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 10px;
    margin: 0 auto;
}

/* === CARTE === */
.realisation-item {
    border-radius: 20px;
    box-shadow: 0 0.25rem 0.125rem rgba(0,0,0,0.08);
    overflow: hidden;
    width: 20vw;
    height: 50vh;
    min-width: 320px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.realisation-item:hover {
    transform: translateY(-2rem);
    box-shadow: 0 8px 18px rgba(0,0,0,0.12);
}


/* === IMAGE === */
.realisation-image {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    position: relative;
}

.realisation-image img {
    width: 95%;
    height: 95%;
    margin: 2.5%;
    border-radius: 16px;
    transition: transform 0.4s ease;
}

.realisation-item:hover .realisation-image img {
    transform: scale(1.10);
}

.realisation-commentaire {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 90%;
    background: rgba(240, 240, 240, 0.7); /* gris clair transparent */
    color: #333;
    font-size: 0.85rem;
    padding: 0.8rem 1rem;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 8px;
}

.realisation-item:hover .realisation-commentaire {
    opacity: 1;
}