main {
    background-color: var(--bge);
    margin-inline: 2%;
    padding-inline: 5%;
    align-items: center;
    border: 2px solid black;
    border-radius: 16px;
}

h1 {
    text-align: center;
    color: white ;
    margin: 2em 30% 3em 30% ;
    padding-block: 1em;
    background-color: var(--vert-fonce);
    border-radius: 8px ;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.en-attente, .paye {
    background-color: var(--bg);
    border: 2px solid black ;
    border-radius: 6px ;
    margin-inline: 20px ;
    margin-block: 20px ;
    padding-top: 30px ;
    padding-bottom: 30px;
    padding-inline: 2%;
}

