#main-avis {
    scroll-margin-top: 15vh;
}

.avis-leave-review {
    margin-top: 25px;   /* espace au-dessus */
    text-align: center; /* centre horizontalement */
}

#main-avis h2{
    padding-top: 25px;
}

