.avis_container {
    background-color: var(--bg);
    width: 100%;
    height: 90vh;               
    overflow: hidden;        
    text-align: center;   
    justify-items: center;
    justify-content: center;
}

.avis_container h2{
font-size: xx-large;
text-align: center;

}

#main-avis h2 .highlight {
    color: var(--vert-fonce); 
    display: block; 
    text-align: center;
}



#main-avis #logo-google {

    height: 100px;
}

#main-avis .container-avis-google {
    display: flex;
    flex-direction: row;         
    width: 80%;
    justify-content: space-between;
    padding-top: 50px;


}

.container-avis-google {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.avis-google {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 350px;
    padding: 15px;
    text-align: left;
    font-family: 'Arial', sans-serif;
}

.avis-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pp {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}

.avis-info {
    flex: 1;
    margin-left: 10px;
}

.nom-client {
    font-weight: bold;
    color: #333;
    margin: 0;
}

.date-avis {
    font-size: 0.9em;
    color: #777;
    margin: 0;
}

.logo-google {
    width: 20px;
    height: 20px;
}

.avis-note {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.etoiles {
    height: 18px;
}

.verifie {
    height: 18px;
    margin-left: 5px;
}

.commentaire-client {
    color: #444;
    font-size: 0.95em;
    line-height: 1.4em;
}