:root{
  --header-h: 100px;
  --aside-w: 15vw;
}

/* ================= LAYOUT ================= */

.app{
  display: grid;
  grid-template-columns: var(--aside-w) 1fr;
}

/* ================= HEADER ================= */

header{
  position: sticky;
  top: 0;
  z-index: 1000;
  background: #fff;
}

/* ================= ASIDE ================= */

.tj-aside{
  background: #2b6b3d;
  color: #fff;
  padding: 24px 16px;
  box-sizing: border-box;
}

/* Titres */
.tj-aside h3{
  margin: 24px 0 12px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  opacity: 0.85;
}

/* Groupes */
.tj-aside-group{
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 24px;
}

.tj-aside-link{
  display: block;
  width: auto;          
  padding: 8px 12px;    
  border-radius: 8px;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}

.tj-aside-link:hover{
  background: rgba(255,255,255,0.15);
    border-radius: 8px;

}

.tj-aside-group{
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 24px;
  align-items: flex-start;  
}



.tj-aside-link.active{
  background: rgba(255,255,255,0.25);
  font-weight: 600;
}

/* ================= MAIN ================= */

.main-content{
  padding: 24px;
  background: #FBFFE9;
  box-sizing: border-box;
}

/* ================= FOOTER ================= */

footer{
  grid-column: 1 / -1;
}

/* ================= MOBILE ================= */

@media (max-width: 900px){
  .app{
    grid-template-columns: 1fr;
  }

  .tj-aside{
    width: 100%;
  }
}
