.landing-main {
    display: flex;
    justify-content: center; /* centre horizontalement */
    align-items: center;     /* centre verticalement */

}

body {
    margin: 0;
    padding: 0;
  }

  main {
      background-color: var(--bg);
      padding: 20px;
      padding-top: 0px;
      min-height: 100vh;
  }
