main {
    margin: 0;
    min-height: 85vh;
    background-color: var(--bge);
    margin-inline: 2%;
    padding-inline: 5%;
    align-items: center;
    border: 2px solid black;
    border-radius: 16px;
}

h1 {
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
    margin: 1em 20% 1em 20%;
    padding-block: 1em;
}

.form-realisation {
    width: 80%;
    margin: 0 auto 30px auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background: var(--bg);
    padding: 2rem;
    border: 2px solid black;
    border-radius: 12px;
}

.form-row {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.form-row label {
    margin-bottom: 0.4rem;
    font-weight: 600;
}

.form-row input,
.form-row select,
.form-row textarea {
    border: black 1px solid;
    padding: 0.9rem;
    border-radius: 8px;
    font-size: 1rem;
    max-width: 94%;
    min-width: 94%;
}

.btn_creer_realisation {
    padding: 1rem;
    border: none;
    background: var(--vert-fonce);
    color: white;
    border-radius: 8px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.2s ease;
    width: 50%;
    margin: 0 25%;
}

.btn_creer_realisation:hover {
    background: var(--btn-hover);
}

.crop-container {
    display: flex;
    justify-content: center;
    margin: 20px auto;
    max-width: 600px;
    padding: 10px;
    background: var(--bge);
    border: 1px solid black;
    border-radius: 8px;
}

.crop-container img {
    border: 2px solid black;
    border-radius: 8px;
    max-height: 300px;
    width: 100%;
    object-fit: contain;
    display: block;
}
