h1 {
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
    margin: 1em 30% 1em 30% ;
    padding-block: 1em;
}
body {
    margin: 0;
    padding: 0;
}
.form-chantier {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background: var(--bg);
    padding: 2rem;
    border: 2px solid black;
    border-radius: 12px;
}

.form-row {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.form-row label {
    margin-bottom: 0.4rem;
    font-weight: 600;
}

.form-row input {
    border: black 1px solid;
    padding: 0.9rem;
    border-radius: 8px;
    font-size: 1rem;
    max-width: 98%;
}

.btn_creer_emp {
    padding: 1rem;
    border: none;
    background: var(--vert-fonce);
    color: white;
    border-radius: 8px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.2s ease;
    width: 50%;
    margin: 0 auto;
}

.btn_creer_emp:hover {
    background: var(--btn-hover);
}
