:root {
    --vert-fonce: #367048;   /* vert principal */
    --bg: #E5F6EA; /* jaune */
    --bge: #FBFFE9; /* beige clair */
}

.realisations {
    background-color: var(--bge);
    font-family: Arial, sans-serif;
    align-items: center;
    padding-bottom: 80px;
}

.realisations h2 {
    color: #367048;
    font-size: 3rem;
    display: block; 
    text-align: center;
    padding-top: 80px;
    padding-bottom: 5px;
    margin: 0 0 40px 0; /*en haut, droite, bas, gauche*/
}

.container-realisation {
    background-color: var(--vert-fonce);
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 2rem;
    flex-wrap: wrap;
    width: fit-content;
    max-width: 80%;
    padding: 25px 15px;
    margin: 50px auto 0;
    border-radius: 20px;
}

/* === CARTE === */
.realisation-item {
    aspect-ratio: 3 / 4;
    object-fit: cover;
    width: 20vw;
    min-width: 350px;
    border-radius: 20px;
    box-shadow: 0 0.25rem 0.125rem rgba(0,0,0,0.08);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.realisation-item:hover {
    transform: translateY(-1rem);
    box-shadow: 0 8px 18px rgba(0,0,0,0.12);
}


/* === IMAGE === */
.realisation-image {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    position: relative;
}

.realisation-image img {
    width: 95%;
    height: 95%;
    margin: 2.5%;
    border-radius: 16px;
    transition: transform 0.4s ease;
}

.realisation-item:hover .realisation-image img {
    transform: scale(1.10);
}

.realisation-commentaire {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 90%;
    background: rgba(240, 240, 240, 0.7); /* gris clair transparent */
    color: #333;
    font-size: 0.85rem;
    padding: 0.8rem 1rem;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 8px;
}

.realisation-item:hover .realisation-commentaire {
    opacity: 1;
}