name: Mirror main to romainduval-cifoux-hub

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  mirror:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Push to romainduval-cifoux-hub/Projet-S3S4
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"

          # Ajoute ton repo perso comme remote de destination
          git remote add romain https://romainduval-cifoux-hub:${{ secrets.MIRROR_TOKEN }}@github.com/romainduval-cifoux-hub/Projet-S3S4.git

          # Pousse main vers ton repo perso (miroir de main)
          git push --force romain HEAD:main
